@font-face {
  font-family: "Cantarell";
  src: url("/fonts/Cantarell.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
